<section class="tasteful-recepies between margin-top">
    <div class="containers">
        <div class="global-headline">
            <div class="animate-top">
                <h2 class="sub-heading">
                    <span class="first-letter">W</span>elcome
                </h2>
            </div>
            <div class="animate-bottom">
                <h2 class="headline headline-dark"><%= link_to 'Home', root_path %> / <%= link_to  "Shop", shops_path %></h2>
            </div>
        </div>
    </div>
</section>

<section class="container">
    <div class="row">
        <div class="col-6">
            <%= image_tag(@product.image.url) %>
        </div>
        <div class="col-6">
            <p>
                $<%= @product.price %>
            </p>
            <p>
                <strong><%= @product.title %></strong>

            </p>

            <p>
                <%= @product.description %>
            </p>


        </div>
    </div>
</section>

<p>
    <%= @product.description %>
</p>
<h1>Shops#show</h1>
<p>Find me in app/views/shops/show.html.erb</p>
<p id="notice"><%= notice %></p>