<section class="tasteful-recepies between margin-top">
    <div class="containers">
        <div class="global-headline">
            <div class="animate-top">
                <h2 class="sub-heading">
                    <span class="first-letter">W</span>elcome
                </h2>
            </div>
            <div class="animate-bottom">
                <h2 class="headline headline-dark"><%= link_to 'Home', root_path %> / <%= link_to  "Shop", shops_path %></h2>
            </div>
        </div>
    </div>
</section>
<p id="notice"><%= notice %></p>

<section class="container">
    <div class="row">
        <div class="col-6">
            <%= image_tag(@product.image.url) %>
        </div>
        <div class="col-6">
            <p>
                $<%= @product.price %>
            </p>
            <p>
                <strong><%= @product.title %></strong>

            </p>

            <p>
                <%= @product.description %>
            </p>

            <p>
                <%= form_for @order_item, remote: true do |f| %>
                <%= f.hidden_field :product_id, :value => @product.id %>
                <%= f.number_field :quantity, value: 1, min: 1 %>
                <%= f.submit "Add To Cart", class:'btn btn-warning text-white' %>
                <% end %>
            </p>

            <div id="cart">
                <%= render 'cart/cart' %>
            </div>

        </div>
    </div>
</section>

<p>
    <%= @product.description %>
</p>
<h1>Shops#show</h1>