<nav>
    <div class="nav-wrapper">

        <%= link_to  "Logo", root_path, class:"brand-logo" %>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
            <li><%= link_to  "Shop", shops_path %></li>
            <li><%= link_to  "Account", "#" %></li>
            <li><%= link_to  "Products", products_path %></li>
            <li><%= link_to  "View Cart", cart_show_path %></li>
        </ul>
    </div>
</nav>

<ul class="sidenav" id="mobile-demo">
    <li><%= link_to  "Shop", shops_path %></li>
    <li><%= link_to  "Account", "#" %></li>
    <li><%= link_to  "Products", products_path %></li>
    <li><%= link_to  "View Cart", cart_show_path %></li>
</ul>