<section class="hero" id="hero">
    <div class="containers">
        <h2 class="sub-heading">
            <span class="first-letter">W</span>elcome
        </h2>
        <h1 class="headline">The Rosa</h1>
        <div class=" headline-description">
            <div class="seperator">
                <div class="line line-left"></div>
                <div class="asterisk">
                    <i class="fas fa-asterisk"></i>
                </div>
                <div class="line line-right"></div>
            </div>
            <div class="single-animation">
                <h5>Reeady to be opened</h5>
                <%= link_to  "About Us", about_path, class:"btn-about " %>
            </div>
        </div>
    </div>
</section>
<!-- Hero ends-->

<section class="discovery-our-story">
    <div class="container">
        <div class="restaurant-info">
            <div class="restaurant-description padding-right animate-left">
                <div class="global-headline">
                    <h2 class="headline headline-dark"> Our Story</h2>
                </div>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Mollitia quisquam iusto unde incidunt eaque laudantium
                    cupiditate minus quibusdam similique fuga totam assumenda,
                    ipsam delectus numquam quo aut quasi officiis ex eum?
                    Dignissimos atque enim inventore eligendi ratione fugiat
                </p>
                <%= link_to  "About Us", about_path, class:"btn-about " %>
            </div>
            <div class="restaurant-info-img animate-right">
                <img src="https://res.cloudinary.com/elijjaaahhhh/image/upload/v1587456838/k5gkhzjcuqvkwp6oxr4l.jpg" alt="">
            </div>
        </div>
    </div>
</section>
<!-- Discover of our story -->

<div class="container">
    <h2 class="headline headline-dark text-center">Categories</h2>
    <div class="ro">
        <div class="col-lg-4 col-md-6 col-xs-6 img-col">
            <%= image_tag "goatn.svg", size: "100x100", class:"img1" %>
            <p class="text-center">
                <small>Goat</small>
            </p>
        </div>
        <div class="col-lg-4 col-md-6 col-xs-6 img-col">
            <%= image_tag "chickenn.svg", size: "100x100", class:"img1" %>
            <p class="text-center">
                <small>Chicken</small>
            </p>
        </div>
        <div class="col-lg-4 col-md-6 col-xs-6 img-col">
            <%= image_tag "pign.svg", size: "100x100", class:"img1" %>
            <p class="text-center">
                <small>Pork</small>
            </p>
        </div>
        <div class="col-lg-4 col-md-6 col-xs-6 img-col">
            <%= image_tag "turkeynn.svg", size: "100x100", class:"img1" %>
            <p class="text-center">
                <small>Turkey</small>
            </p>
        </div>
        <div class="col-lg-4 col-md-6 col-xs-6 img-col">
            <%= image_tag "cown.svg", size: "100x100", class:"img1" %>
            <p class="text-center">
                <small>Beef</small>
            </p>
        </div>
        <div class="col-lg-4 col-md-6 col-xs-6 img-col">
            <%= image_tag "fishn.svg", size: "100x100", class:"img1" %>
            <p class="text-center">
                <small>Fish</small>
            </p>
        </div>
    </div>
</div>
<!--category end-->

<section class="tasteful-recepies between">
    <div class="containers">
        <div class="global-headline">
            <div class="animate-top">
                <h2 class="sub-heading">
                    <span class="first-letter">W</span>elcome
                </h2>
            </div>
            <div class="animate-bottom">
                <h2 class="headline headline-dark"> Our Story</h2>
            </div>
        </div>
    </div>
</section>
<!--tasteful-recepies end-->

<section class="discover-our-menu">
    <div class="containers">
        <div class="restaurant-info">
            <div class="image-group padding-right animate-left">
                <img src="https://res.cloudinary.com/elijjaaahhhh/image/upload/v1584979926/burrito-chicken-delicious-dinner-461198_gubpjf.jpg" alt="">
                <img src="https://res.cloudinary.com/elijjaaahhhh/image/upload/v1584979926/burrito-chicken-delicious-dinner-461198_gubpjf.jpg" alt="">
                <img src="https://res.cloudinary.com/elijjaaahhhh/image/upload/v1584979926/burrito-chicken-delicious-dinner-461198_gubpjf.jpg" alt="">
                <img src="https://res.cloudinary.com/elijjaaahhhh/image/upload/v1584979926/burrito-chicken-delicious-dinner-461198_gubpjf.jpg" alt="">
            </div>
            <div class="restaurant-description animate-right">
                <div class="global-headline">
                    <h2 class="sub-heading">
                        <span class="first-letter">W</span>elcome
                    </h2>
                    <h2 class="headline headline-dark"> Our Story</h2>
                </div>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Mollitia quisquam iusto unde incidunt eaque laudantium
                    cupiditate minus quibusdam similique fuga totam assumenda,
                    ipsam delectus numquam quo aut quasi officiis ex eum?
                    Dignissimos atque enim inventore eligendi ratione fugiat
                </p>
                <%= link_to  "Shop", shops_path, class:"btn-about " %>
            </div>
        </div>
    </div>
</section>

<section class="perfect-blend between">
    <div class="containers">
        <div class="global-headline">
            <div class="animate-top">
                <h2 class="sub-heading">
                    <span class="first-letter">W</span>elcome
                </h2>
            </div>
            <div class="animate-bottom">
                <h2 class="headline headline-dark"> Our Story</h2>
            </div>
        </div>
    </div>
</section>
<!--perfect-blend end-->

<section class="culinary-delight">
    <div class="container">
        <div class="restaurant-info">
            <div class="restaurant-description padding-right animatable bounceInLeft">
                <div class="global-headline">
                    <h2 class="headline headline-dark"> Our Story</h2>
                </div>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Mollitia quisquam iusto unde incidunt eaque laudantium
                    cupiditate minus quibusdam similique fuga totam assumenda,
                    ipsam delectus numquam quo aut quasi officiis ex eum?
                    Dignissimos atque enim inventore eligendi ratione fugiat
                </p>
                <%= link_to  "About Us", about_path, class:"btn-about " %>
            </div>
            <div class="image-group animatable bounceInRight">
                <img class="animate-top" src="https://res.cloudinary.com/elijjaaahhhh/image/upload/v1587456838/k5gkhzjcuqvkwp6oxr4l.jpg" alt="">
                <img class="animate-bottom" src="https://res.cloudinary.com/elijjaaahhhh/image/upload/v1587456838/k5gkhzjcuqvkwp6oxr4l.jpg" alt="">
            </div>
        </div>
    </div>
</section>