<section class="hero" id="hero">
    <div class="containers">
        <h2 class="sub-heading mt-5">
            Domi<span class="first-letter">*</span>nous Restaurant
        </h2>
        <h1 class="headline mt-5">Eat Healthy</h1>
        <div class=" headline-description">
            <div class="single-animation mt-5">
                <%= link_to  "About Us", about_path, class:"btn text-white" %>
            </div>
        </div>
    </div>
</section>
<!-- Hero ends-->

<section class="discovery-our-story">
    <div class="container">
       
        <div class="restaurant-info row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 restaurant-description padding-right animatable bounceInLeft">
                <div class="global-headline">
                    <h2 class="headline headline-dark"> ABOUT US</h2>
                </div>
                <p>
                    The Pizza Restaurant was founded in blabla by 
                    Mr. Italiano in lorem ipsum dolor sit amet, 
                    consectetur adipiscing elit, sed do eiusmod 
                    tempor incididunt ut labore et dolore magna aliqua. 
                    Ut enim ad minim veniam, quis nostrud exercitation 
                    ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </p>
                <%= link_to  "About Us", about_path, class:"btn" %>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 restaurant-info-img animatable bounceInRight">
                <img src="https://res.cloudinary.com/elijjaaahhhh/image/upload/v1600051027/pexels-engin-akyurt-2673353_lojsoh.jpg" alt="">
            </div>
        </div>
    </div>
</section>
<!-- Discover of our story -->

<div class="container my-5">
    <h2 class="headline headline-dark text-center">WHAT WE OFFER</h2>
    <div class="">
        <div class="row">
            <% @categories.each do |category| %>
                <div class="col-lg-3 mt-5 text-center">
                    <!-- <%= category.name %> -->
                    <%= link_to  category.name, products_path(:cate => category.id), class: "nav-link" %>
                    <%= link_to image_tag(category.image.url), products_path(:cate => category.name) %>
                    <!-- <%= category.description %> -->
                    
                    <!-- <%= link_to 'Show', category %> -->
                    <!-- <%= link_to 'Edit', edit_category_path(category) %> -->
                    <!-- <%= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' } %> -->
                </div>
        <% end %>
        </div>
    </div>
</div>
<!--category end-->

<section class="discover-our-menu">
    <div class="containers">
        <div class="restaurant-info row">
            <div class=" col-lg-6 col-md-6 col-sm-12 col-xs-12 restaurant-description animate-right">
                <div class="global-headline">
                    <h2 class="headline headline-dark">SPECIAL OFFER</h2>
                </div>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Mollitia quisquam iusto unde incidunt eaque laudantium
                    cupiditate minus quibusdam similique fuga totam assumenda,
                    ipsam delectus numquam quo aut quasi officiis ex eum?
                    Dignissimos atque enim inventore eligendi ratione fugiat
                </p>
                <%= link_to  "Shop", shops_path, class:"btn" %>
            </div>
            <div class=" col-lg-6 col-md-6 col-sm-12 col-xs-12 image-group padding-right animate-left">
                <img src="https://res.cloudinary.com/elijjaaahhhh/image/upload/v1591046636/alex-munsell-Yr4n8O_3UPc-unsplash_fegdi8.jpg" alt="">
                <img src="https://res.cloudinary.com/elijjaaahhhh/image/upload/v1600051023/pexels-mali-maeder-65175_sdghe6.jpg" alt="">
                <img src="https://res.cloudinary.com/elijjaaahhhh/image/upload/v1600051026/pexels-freestocksorg-145804_vhv3f1.jpg" alt="">
                <img src="https://res.cloudinary.com/elijjaaahhhh/image/upload/v1591592123/jakub-kapusnak-vLQzopDRSNI-unsplash_cvszbv.jpg" alt="">
            </div>
        </div>
    </div>
</section>

<!-- <section class="perfect-blend between">
    <div class="containers">
        <div class="global-headline">
            <div class="animate-top">
                <h2 class="sub-heading">
                    <span class="first-letter">W</span>elcome
                </h2>
            </div>
            <div class="animate-bottom">
                <h2 class="headline headline-dark"> Our Story</h2>
            </div>
        </div>
    </div>
</section> -->
<!--perfect-blend end-->

<div class="container car">
	<div class="row">
		<div class="col-md-12">
			<h2>Trending <b>Products</b></h2>
			<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="0">
			<!-- Carousel indicators -->
			<!-- <ol class="carousel-indicators">
				<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
				<li data-target="#myCarousel" data-slide-to="1"></li>
				<li data-target="#myCarousel" data-slide-to="2"></li>
			</ol>    -->
			<!-- Wrapper for carousel items -->
			<div class="carousel-inner">
				<div class="item active">
					<div class="row">
						<% @products.each do |product| %>
                        <div class="col-sm-3">
							<div class="thumb-wrapper">
								<div class="img-box">
                                    <% if product.image? %>
                                    <%= image_tag(product.image.url) %>
                                    <% end %>
									<!-- <img class="animate-top card-img-top" src="https://res.cloudinary.com/elijjaaahhhh/image/upload/v1600051027/pexels-engin-akyurt-2673353_lojsoh.jpg" alt=""> -->
								</div>
								<div class="thumb-content">
                                    <h4><%= link_to product.title, shop_path(product) %></h4>
									<p class="item-price"><strike>$31.00</strike> <span>$<%= product.price %></span></p>
									
									<a href="#" class="btn btn-primary">Add to Cart</a>
								</div>						
							</div>
                        </div>
                        <% end %>
					</div>
				</div>
				
			</div>
		</div>
		</div>
	</div>
</div>

<!-- <div class="container">
    <h2 class="headline headline-dark text-center">FEATURED PRODUCTS</h2>
    <div class="">
        <div class="row row-cols-1 row-cols-md-2">
            <% @products.each do |product| %>
            <div class="col mb-4">
                <div class="card">
                    
                    <img class="animate-top card-img-top" src="https://res.cloudinary.com/elijjaaahhhh/image/upload/v1600051027/pexels-engin-akyurt-2673353_lojsoh.jpg" alt="">
                    <div class="card-body">
                        <h5 class="card-title"><%= product.price %></h5>
                        <p class="card-text"><%= product.title %> <%= link_to 'Show', product %></p>
                        <p class="card-text"><%= product.description %></p>
                      </div>
                    </div>
                    
                </div>
        <% end %>
        </div>
    </div>
</div> -->



<section class="culinary-delight">
    <div class="container">
        <div class="row restaurant-info">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 restaurant-description padding-right animatable bounceInLeft">
                <div class="global-headline">
                    <h2 class="headline headline-dark">NEW STOCK</h2>
                </div>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Mollitia quisquam iusto unde incidunt eaque laudantium
                    cupiditate minus quibusdam similique fuga totam assumenda,
                    ipsam delectus numquam quo aut quasi officiis ex eum?
                    Dignissimos atque enim inventore eligendi ratione fugiat
                </p>
                <%= link_to  "About Us", about_path, class:"btn" %>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 image-group animatable bounceInRight">
                <img class="animate-top" src="https://res.cloudinary.com/elijjaaahhhh/image/upload/v1600051027/pexels-engin-akyurt-2673353_lojsoh.jpg" alt="">
                <img class="animate-bottom" src="https://res.cloudinary.com/elijjaaahhhh/image/upload/v1591592124/brittany-sawyer-NxvAV87HDT8-unsplash_ksjbns.jpg" alt="">
                <img class="animate-top" src="https://res.cloudinary.com/elijjaaahhhh/image/upload/v1600051027/pexels-engin-akyurt-2673353_lojsoh.jpg" alt="">
                <img class="animate-bottom" src="https://res.cloudinary.com/elijjaaahhhh/image/upload/v1591592124/brittany-sawyer-NxvAV87HDT8-unsplash_ksjbns.jpg" alt="">
            </div>
        </div>
    </div>
</section>

<!-- Team Container -->
<!-- <div class="w3-container w3-padding-64 w3-center" id="team">
    <h2>OUR TEAM</h2>
    <p>Meet the team - our office rats:</p>
    
    <div class="w3-row"><br>
    
    <div class="w3-quarter">
      <img src="/w3images/avatar.jpg" alt="Boss" style="width:45%" class="w3-circle w3-hover-opacity">
      <h3>Johnny Walker</h3>
      <p>Web Designer</p>
    </div>
    
    <div class="w3-quarter">
      <img src="/w3images/avatar.jpg" alt="Boss" style="width:45%" class="w3-circle w3-hover-opacity">
      <h3>Rebecca Flex</h3>
      <p>Support</p>
    </div>
    
    <div class="w3-quarter">
      <img src="/w3images/avatar.jpg" alt="Boss" style="width:45%" class="w3-circle w3-hover-opacity">
      <h3>Jan Ringo</h3>
      <p>Boss man</p>
    </div>
    
    <div class="w3-quarter">
      <img src="/w3images/avatar.jpg" alt="Boss" style="width:45%" class="w3-circle w3-hover-opacity">
      <h3>Kai Ringo</h3>
      <p>Fixer</p>
    </div>
    
    </div>
    </div> -->
