<%
=begin%>
<!-- Section: Slider -->
<section class="slider">
    <ul class="slides">
        <li>
            <img src="https://res.cloudinary.com/elijjaaahhhh/image/upload/v1589640059/free-to-use-sounds-bmSTimfDdMg-unsplash_bdkrbz.jpg" alt="">
            <div class="caption center-align">
                <h2>Take Your Dream Vacation</h2>
                <h5 class="light grey-text text-lighten-3 hide-on-small-only">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam non illo earum cumque id est!</h5>
                <a href="#" class="btn btn-large">Learn More</a>
            </div>
        </li>
        <li>
            <img src="https://res.cloudinary.com/elijjaaahhhh/image/upload/v1589795143/close-up-photo-of-burrito-2955819_hyiosi.jpg" alt="">
            <div class="caption left-align">
                <h2>We Work With All Budgets</h2>
                <h5 class="light grey-text text-lighten-3 hide-on-small-only">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam non illo earum cumque id est!</h5>
                <a href="#" class="btn btn-large">Learn More</a>
            </div>
        </li>
        <li>
            <img src="https://res.cloudinary.com/elijjaaahhhh/image/upload/v1589667374/main_kgnuev.jpg" alt="">
            <div class="caption right-align">
                <h2>Group & Individual Getaways</h2>
                <h5 class="light grey-text text-lighten-3 hide-on-small-only">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam non illo earum cumque id est!</h5>
                <a href="#" class="btn btn-large">Learn More</a>
            </div>
        </li>
    </ul>
</section>
<%
=end%>
<div class="bg-img">
    <div class="containe">
        <%
=begin%>
        <div class="topnav">
            <a href="#home">Home</a>
            <a href="#news">News</a>
            <a href="#contact">Contact</a>
            <a href="#about">About</a>
        </div>
        <%
=end%>
        <nav class="">
            <div class="nav-wrapper">
                <%= link_to  "easyEAT", root_path, class:"brand-logo" %>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                <ul class="right hide-on-med-and-down">
                    <li><%= link_to  "Shop", shops_path %></li>
                    <li><%= link_to  "Account", "#" %></li>
                    <li><%= link_to  "About Us", about_path %></li>
                    <li><%= link_to  "Contact Us", contact_path %></li>
                    <li><%= link_to  "Products", products_path %></li>
                    <li><%= link_to  "View Cart", cart_show_path %></li>
                </ul>
            </div>
        </nav>
    </div>
</div>
<section class="con">
    <h2 align="center">Our Top Rated Product</h2>
    <div class="row">
        <div class="col l4 m4 s12 top-rated">
            <img src="https://res.cloudinary.com/elijjaaahhhh/image/upload/v1591046636/thomas-tucker-MNtag_eXMKw-unsplash_iyj4zl.jpg" class="responsive-img" alt="">
        </div>
        <div class="col l4 m4 s12 top-rated">
            <img src="https://res.cloudinary.com/elijjaaahhhh/image/upload/v1591046636/alex-munsell-Yr4n8O_3UPc-unsplash_fegdi8.jpg" class="responsive-img" alt="">
        </div>
        <div class="col l4 m4 s12 top-rated">
            <img src="https://res.cloudinary.com/elijjaaahhhh/image/upload/v1591046630/nand-shah-1fAjknDSumY-unsplash_pw8qji.jpg" class="responsive-img" alt="">
        </div>
    </div>
</section>

<section class="container">
    <div class="row">
        <div class="col s5 "><span class="flow-text">This div is 7-columns wide on pushed to the right by 5-columns.</span></div>
        <div class="col s7 "><img class="responsive-img" src="https://res.cloudinary.com/elijjaaahhhh/image/upload/v1589795142/red-apples-in-brown-wooden-bucket-220911_i8svm8.jpg" alt=""></div>
    </div>
</section>

<section class="section">
    <h1>Product Gallery</h1>
    <div class="grid">

        <div class="item item--large">
            <div class="item__details">
                Muffin jelly gingerbread
            </div>
        </div>
        <div class="item item--medium">
            <div class="item__details">
                sesame snaps chocolate
            </div>
        </div>
        <div class="item item--large">
            <div class="item__details">
                Oat cake
            </div>
        </div>

        <div class="item item--medium">
            <div class="item__details">
                Dragée pudding brownie
            </div>
        </div>
        <div class="item item--large">
            <div class="item__details">
                Oat cake
            </div>
        </div>

        <div class="item item--medium">
            <div class="item__details">
                pudding cheesecake
            </div>
        </div>

    </div>
</section>