<section class="tasteful-recepies between margin-top">
    <div class="containers">
        <div class="global-headline">
            <div class="animate-top">
                <h2 class="sub-heading">
                    <span class="first-letter">W</span>elcome
                </h2>
            </div>
            <div class="animate-bottom">
                <h2 class="headline headline-dark"> Our Story</h2>
            </div>
        </div>
    </div>
</section>
<p id="notice"><%= notice %></p>

<h1>Categories</h1>

<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Image</th>
            <th colspan="3"></th>
        </tr>
    </thead>

    <tbody>
        <% @categories.each do |category| %>
        <tr>
            <td><%= category.name %></td>
            <td><%= category.description %></td>
            <td><%= image_tag(category.image.url) %></td>
            <td><%= link_to 'Show', category %></td>
            <td><%= link_to 'Edit', edit_category_path(category) %></td>
            <td><%= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
        <% end %>
    </tbody>
</table>

<br>

<%= link_to 'New Category', new_category_path %>