<%= form_with(model: product, local: true) do |form| %>
<% if product.errors.any? %>
<div id="error_explanation">
    <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

    <ul>
        <% product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
    </ul>
</div>
<% end %>

<div class="field mt-5">
    <%= form.label :title %>
    <%= form.text_field :title %>
</div>

<div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
</div>

<div class="field">
    <%= form.label :price %>
    <%= form.text_field :price %>
</div>

<div class="field">
    <%= form.label :image %>
    <%= form.file_field :image, class:"form-control" %>
    <%= form.hidden_field :image_cache %>
</div>

<div class="field">
    <%= form.label :category, class:"" %><br />
    <%= form.select :category_id, Category.all.map {|cat| [cat.name, cat.id]}, class: 'form-group text-secondary', :prompt => 'Select one!' %>
</div>

<div class="actions">
    <%= form.submit %>
</div>
<% end %>