<p id="notice"><%= notice %></p>

<%
=begin%>
<h1 class="mt-5">Products</h1>
<%
=end%>

<table class="mt-5">
    <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Price</th>
            <th>Category</th>
            <th colspan="3"></th>
        </tr>
    </thead>

    <tbody>
        <% @products.each do |product| %>
        <tr>
            <td><%= product.title %></td>
            <td><%= product.description %></td>
            <td><%= product.price %></td>
            <td><%= link_to 'Show', product %></td>
            <td><%= link_to 'Edit', edit_product_path(product) %></td>
            <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
        <% end %>
    </tbody>
</table>

<br>

<%= link_to 'New Product', new_product_path %>
<br>
<br>
<h1>categories</h1>
<% @categories.each do |category| %>
<%= link_to  category.name, products_path(:cate => category.id), class: "" %>
<% end %>