<section class="tasteful-recepies between margin-top">
    <div class="containers">
        <div class="global-headline">
            <div class="animate-top">
                <h2 class="sub-heading">
                    <span class="first-letter">W</span>elcome
                </h2>
            </div>
            <div class="animate-bottom">
                <h2 class="headline headline-dark"> Our Story</h2>
            </div>
        </div>
    </div>
</section>
<p id="notice"><%= notice %></p>

<table class="mt-5">
    <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Price</th>
            <th>Category</th>
            <th colspan="3"></th>
        </tr>
    </thead>

    <tbody>
        <% @products.each do |product| %>
        <tr>
            <td><%= product.title %></td>
            <td><%= product.description %></td>
            <td><%= product.price %></td>
            <td><%= image_tag(product.image.url) %></td>
            <td><%= link_to 'Show', product %></td>
            <td><%= link_to 'Edit', edit_product_path(product) %></td>
            <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
        <% end %>
    </tbody>
</table>

<br>

<%= link_to 'New Product', new_product_path %>
<br>
<br>
<h1>categories</h1>
<% @categories.each do |category| %>
<%= link_to  category.name, products_path(:cate => category.id), class: "" %>
<% end %>