<!DOCTYPE html>
<html>

<head>
    <title>OnlineShop</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>


    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
    <nav>
        <div class="nav-wrapper">

            <%= link_to  "Logo", root_path, class:"brand-logo" %>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li><%= link_to  "Shop", shops_path %></li>
                <li><%= link_to  "Account", "#" %></li>
                <li><%= link_to  "About Us", about_path %></li>
                <li><%= link_to  "Contact Us", contact_path %></li>
                <li><%= link_to  "Products", products_path %></li>
                <li><%= link_to  "View Cart", cart_show_path %></li>
            </ul>
        </div>
    </nav>

    <ul class="sidenav" id="mobile-demo">
        <li><%= link_to  "Shop", shops_path %></li>
        <li><%= link_to  "Account", "#" %></li>
        <li><%= link_to  "About Us", about_path %></li>
        <li><%= link_to  "Contact Us", contact_path %></li>
        <li><%= link_to  "Products", products_path %></li>
        <li><%= link_to  "View Cart", cart_show_path %></li>
    </ul>

    <%= yield %>
</body>

</html>